@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a1a;
  margin: 0px;
}
.main {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* background-color: #636363;
  padding: 7px;
  border-radius: 5px; */
}

.navbar--title {
  color: #f2f2f2;

}

.navbar--profile {
  height: 25px;
  width: 25px;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: inline-block;
}


.body--title {
  display: flex;
  font-size: 1.2rem;
  color: #f2f2f2;
  margin: 30px 0 15px 0;
}

.body--card {
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  background-color: #222222;
}

.body--card--title {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -2%;
  color: #f2f2f2;
}

.body--card--text {
  font-size: 0.9rem;
  color: #f2f2f2;
  inline-size: 300px;
  padding: 5px 0 15px 0;
}
.body--card--subtitle {
  display: inline-block;
  padding: 7px 9px 7px 9px;
  border-radius: 15px;
  background-color: #4d4d4d;
  font-size: 0.7rem;
  color: #f2f2f2;
}